body{
    background: #fff
}

#content{
    width: 400px;
    text-align: justify;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    max-height: 270px;
    overflow: hidden;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#content.open{
    max-height: 1000px !important;
    -webkit-transition: max-height 0.9s;
    -moz-transition: max-height 0.9s;
    transition: max-height 0.9s;
}

#show-more{
    background: #1594e5;
    color: #fff;
    display: block;
    width: 150px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 5px;
}
